<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PDRtest3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8CF556AC1E7B7A0C00C77C64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CF556C01E7B7A0D00C77C64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CF556CB1E7B7A0E00C77C64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
